/* import fonts */
@font-face {
   font-family: iran;
   src: url(../fonts/iran.ttf);
}

@font-face {
   font-family: iranYekan;
   src: url(../fonts/iranyekanwebbold.ttf);
}

@font-face {
   font-family: koodak;
   src: url(../fonts/KoodakBold.ttf);
}

@font-face {
   font-family: nazanin;
   src: url(../fonts/Nazanin.ttf);
}

@font-face {
   font-family: yekan;
   src: url(../fonts/Yekan.ttf);
}

:root {
   --color-primary: #eee;
   --color-secondary: #03ca9b;
   --color-white: #454e56;
   --color-black: #fff;
   --color-grey0: #f8f8f8;
   --color-grey-1: #6c7983;
   --color-grey-2: #6c7983;
   --color-grey-3: #6c7983;
   --color-grey-4: #454e56;
   --color-grey-5: #f8f8f8;
   --color-grey-6: #12181b;
   --br-sm-2: 14px;
   --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.dark {
   --color-primary: #191d2b;
   --color-secondary: #03ca9b;
   --color-white: #ffffff;
   --color-black: #000;
   --color-grey0: #f8f8f8;
   --color-grey-1: #dbe1e8;
   --color-grey-2: #b2becd;
   --color-grey-3: #6c7983;
   --color-grey-4: #454e56;
   --color-grey-5: #2a2e35;
   --color-grey-6: #12181b;
   --box-shadow-1: 0 3px 15px rgba(255, 255, 255, 0.3);
}

/* css reset */
* {
   margin: 0;
   padding: 0;
   direction: ltr;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: yekan;
   position: relative;
}

body {
   background-color: var(--color-primary);
   transition: 0.3s;
   /* width */
   &::-webkit-scrollbar {
      width: 10px;
   }

   /* Track */
   &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(0, 0, 0);
      border-radius: 10px;
   }

   /* Handle */
   &::-webkit-scrollbar-thumb {
      background: gray;
      // border-radius: 10px;
   }

   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
      background: var(--color-secondary);
   }
}

/* preloader starts */
.preloader {
   position: fixed;
   z-index: 99;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: lightgray;
   & > img {
      width: 100px;
   }

   &.hidden {
      animation: fadeOut 1s;
      animation-fill-mode: forwards;
   }
}

@keyframes fadeOut {
   100% {
      opacity: 0;
      visibility: hidden;
   }
}
/* preloader ends */

/* navbar starts */
#navbar {
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   padding: 25px 30px 20px 30px;
   box-shadow: var(--box-shadow-1);
   background-color: var(--color-primary);
   position: fixed;
   top: 0;
   z-index: 90;
   transition: background 0.4s;
   .logo {
      a {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 30px !important;
         font-weight: bold;
         letter-spacing: 3px;
         color: var(--color-secondary);
         img {
            height: 30px;
            margin-bottom: 10px;
            transition: height 0.4s;
         }
      }
   }

   /* ul {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 10px;
      li a {
         color: var(--color-white);
         font-size: 20px;
         font-weight: 500;
         transition: color 0.4s;
      }
   } */

   .switch {
      width: 80px;
      height: 40px;
      border-radius: 20px;
      background-color: var(--color-white);
      position: relative;
      margin-left: auto;
      .flicker {
         width: 30px;
         height: 30px;
         border-radius: 15px;
         background-color: var(--color-primary);
         position: absolute;
         top: 5px;
         left: 5px;
         transition: 0.3s;
         box-shadow: inset 4px 4px 4px var(--color-primary);
      }

      .moon {
         width: 20px;
         height: 20px;
         border-radius: 10px;
         box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
         position: absolute;
         top: 5px;
         left: 45px;
      }
   }

   /* hamburger menu starts */
   #menu__toggle {
      display: none;
      &:checked + .menu__btn > span {
         transform: rotate(45deg);
         background-color: var(--color-white);
         &::before {
            top: 0;
            background-color: var(--color-white);
            transform: rotate(0deg);
         }
         
         &::after {
            top: 0;
            background-color: var(--color-white);
            transform: rotate(90deg);
         }
      }

      &:checked ~ .menu__box {
         right: 0 !important;
      }
   }

   .menu__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 40px;
      cursor: pointer;
      z-index: 1;
      & > span,
      & > span::before,
      & > span::after {
         display: block;
         position: absolute;
         width: 100%;
         height: 3px;
         background-color: var(--color-white);
         transition-duration: 0.25s;
      }

      & > span::before {
         content: "";
         top: -10px;
      }
      & > span::after {
         content: "";
         top: 10px;
      }
   }

   .menu__box {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: var(--color-secondary);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
      .menu__item {
         display: block;
         padding: 12px 24px;
         color: #333;
         font-family: "Roboto", sans-serif;
         font-size: 20px;
         font-weight: 600;
         text-decoration: none;
         transition-duration: 0.25s;
         &:hover {
            background-color: #cfd8dc;
         }
      }

      /* li:last-child {
         background-color: #fff;
         padding: 12px 24px;
         margin-top: 50px;
      } */
   }
   /* hamburger menu ends */
}

.dark .flicker {
   transform: translateX(40px);
}

#scroll {
   height: 3px;
   background-color: var(--color-secondary);
   position: fixed;
   top: 75px;
   z-index: 95;
}
/* navbar ends */
