@import "main";
@import "layouts";

/* header starts */
header {
   width: 100%;
   margin-top: 40px;
   font-size: 2rem;
   color: var(--black);
   h2 {
      font-weight: 100;
      font-size: 3.5rem;
      height: 60px;
      margin-top: 150px;
   }

   #highlight {
      color: var(--color-primary);
      opacity: 1;
      transition: all 1s;
   }

   p {
      font-size: 1.5rem;
      margin-bottom: 100px;
   }

   a {
      margin-right: 20px;
   }

   #banner {
      height: 700px;
   }
}
/* header ends */

/* market overview starts */
#market-overview {
   width: 80%;
   margin: auto;
   font-size: 20px;
   font-weight: bold;
   color: var(--black);
   table {
      width: 100%;
      background-color: var(--bg);
      box-shadow: var(--box-shadow);
      border: var(--border);
      border-radius: 10px;
      padding: 10px;
      caption {
         color: var(--black);
         padding-bottom: 10px;
      }

      td {
         width: 20%;
         text-align: center;
         &:first-child {
            width: 5%;
         }
      }

      thead {
         text-align: center;
         td {
            padding: 10px;
         }
      }

      tbody {
         tr {
            td {
               border-top: 1px solid black;
               padding: 10px 0;
            }

            .name {
               width: 100%;
               @include d-flex(flex-start, center);
               img {
                  width: 30px;
                  margin: 10px 30px 20px 10px;
               }
            }

            .price {
               // text-align: center;
            }

            .change {
               // text-align: center;
            }

            .chart {
               img {
                  color: red;
               }
            }
         }
      }
   }
}
/* market overview ends */

/* fact section starts*/
#facts-sec {
   width: 100%;
   height: 600px;
   margin-top: 70px;
   direction: rtl;
   .container {
      margin: auto;
      width: 90%;
      max-width: 1200px;
      .row {
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         .right {
            grid-column: span 6;
            margin: 30px;
            padding: 15px;
            position: relative;
            .img-container {
               position: relative;
               filter: drop-shadow(0 0 5px var(--black));
               img {
                  width: 100%;
               }
            }

            #dots {
               position: absolute;
               right: -20px;
               bottom: -10px;
            }
         }

         .left {
            grid-column: span 6;
            margin: 30px;
            padding: 15px;
            padding-right: 50px;
            .facts-sec_content {
               .facts-sec_title {
                  h3 {
                     font-size: 35px;
                     font-weight: bold;
                     position: relative;
                     margin-top: 15px;
                     color: var(--color-primary);
                     &::before {
                        content: "";
                        display: block;
                        width: 150px;
                        height: 5px;
                        position: absolute;
                        top: -15px;
                        background: var(--bg-pink-gradient);
                     }
                     span {
                        font-size: 32px;
                        font-weight: lighter;
                        color: var(--black);
                     }
                  }
               }

               .facts-sec_text {
                  margin: 35px 0;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 30px;
                  color: var(--black);
               }
            }

            .counter-container {
               display: grid;
               grid-template-columns: repeat(12, 1fr);
               gap: 40px;
               .box {
                  grid-column: span 4;
                  border-radius: 70px;
                  height: 170px;
                  display: grid;
                  place-content: center;
                  background: var(--bg-green-gradient);
                  box-shadow: var(--box-shadow1);
                  border: var(--border);
                  transform: rotate(-45deg);
                  .counter-item {
                     text-align: center;
                     transform: rotate(45deg);
                     .counter {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 25px;
                        font-weight: bold;
                        color: #fff;
                     }
                     .counter-title {
                        font-size: 18px;
                        font-weight: normal;
                        color: #fff;
                     }
                  }
               }
               .box2 {
                  background: var(--bg-pink-gradient);
               }
               .box3 {
                  background: var(--bg-blue-gradient);
               }
            }
         }
      }
   }
}
/* fact section ends*/

/* team section starts */
#team-section {
   .card-client {
      background: var(--color-primary);
      width: 100%;
      height: 300px;
      padding: 25px 20px;
      border: var(--border);
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      text-align: center;
      color: #fff;
      font-family: "Poppins", sans-serif;
      @include d-flex(center, center);
      flex-direction: column;
      transition: all 0.3s ease;
      &:hover {
         transform: translateY(-10px);
      }

      .user-picture {
         overflow: hidden;
         // object-fit: cover;
         width: 100px;
         height: 100px;
         border: 4px solid #7cdacc;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: auto;
         img {
            width: 90%;
            height: 90%;
            border-radius: 50%;
         }
         /* svg {
            width: 2.5rem;
            fill: currentColor;
         } */
      }

      .name-client {
         margin: 0;
         margin-top: 20px;
         font-weight: 600;
         font-size: 20px;
         span {
            display: block;
            font-weight: 200;
            font-size: 18px;
         }
      }

      .social-media {
         &:before {
            content: " ";
            display: block;
            width: 100%;
            height: 2px;
            margin: 20px 0;
            background: #7cdacc;
         }

         a {
            position: relative;
            margin-right: 15px;
            text-decoration: none;
            color: inherit;
            &:last-child {
               margin-right: 0;
            }
            &:hover {
               .tooltip-social {
                  opacity: 1;
                  transform: translate(-50%, +130%);
               }
            }

            svg {
               width: 1.1rem;
               fill: currentColor;
            }

            /*-- Tooltip Social Media --*/
            .tooltip-social {
               background: #262626;
               display: block;
               position: absolute;
               bottom: 0;
               left: 50%;
               padding: 0.5rem 0.4rem;
               border-radius: 5px;
               font-size: 0.8rem;
               font-weight: 600;
               opacity: 0;
               pointer-events: none;
               transform: translate(-50%, -90%);
               transition: all 0.2s ease;
               z-index: 1;
               &:after {
                  content: " ";
                  position: absolute;
                  bottom: 1px;
                  left: 50%;
                  border: solid;
                  border-width: 10px 10px 0 10px;
                  border-color: transparent;
                  transform: translate(-50%, 100%);
               }
            }
         }
      }
   }
}
/* team section ends */
